// colors
$border: 1px solid rgb(165, 165, 165);
$green: rgb(0, 128, 0);
$red: rgb(187, 0, 0);
$background: rgb(207, 207, 207);
$event-background: rgb(255, 250, 240);
$event-hover-background: rgb(222, 184, 135);
$event-selected-background: rgb(255, 217, 0);
$coupon-background: rgb(206, 206, 206);